header.header 
  .container
    nav.navbar.navbar-expand-lg.navbar-light
        
          .d-flex.align-items-center
            a.navbar-brand(href='/')
              img(src='/images/book-logo.png' alt='' width='80' height='80')
              
            h3.fw-bold.text-title Bookstore

          h3.ms-3 #{titleHead}
