/* header */
.text-title {
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
}

.icon-user {
    color: darkcyan;
}

.icon-cart {
    color: darkcyan;
}

.header {
    background-color: rgb(165, 241, 241);
}

/* header */

/* body */

.container {
    max-width: 1200px;
}

.input-group.price{
    width: 40%;
}

.btn-full-width {
    width: 100%;
}

.star {
    font-size: 20px;
}

.star-active {
    color: #bfa03e;
}

.star-inactive {
    color: #b2b2b2;
}

.display-book {
    background-color: white;
}

.inner-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.inner-price {
    font-size: 18px;
}

.card-book {
    padding-top: 22px;
    padding-bottom: 12px;
}

.card-book:hover {
    border: 1px solid #efefef;
    border-radius: 12px;
}

.card-book .star {
    font-size: 16px;
}

.inner-sold {
    font-size: 12px;
    margin-bottom: 0px;
}

.nav-link {
   color: black;
}

.nav-link.active {
    color: darkcyan;
    border-radius: 0px;
    border-bottom: 1px solid darkcyan;
}
/* body */

.hidden {
    display: none;
}