/* header */
.text-title {
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
}

.icon-user {
    color: darkcyan;
}

.icon-cart {
    color: darkcyan;
}

.header {
    background-color: rgb(165, 241, 241);
}

/* header */

/* body */

.container {
    max-width: 1200px;
}

.input-group.price{
    width: 40%;
}

.btn-full-width {
    width: 100%;
}

.star {
    font-size: 20px;
}

.star-active {
    color: #bfa03e;
}

.star-inactive {
    color: #b2b2b2;
}

.display-book {
    background-color: white;
}

.inner-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.inner-price {
    font-size: 18px;
}

.card-book {
    padding-top: 22px;
    padding-bottom: 12px;
}

.card-book:hover {
    border: 1px solid #efefef;
    border-radius: 12px;
}

.card-book .star {
    font-size: 16px;
}

.inner-sold {
    font-size: 12px;
    margin-bottom: 0px;
}

.nav-link {
   color: black;
}

.nav-link.active {
    color: darkcyan;
    border-radius: 0px;
    border-bottom: 1px solid darkcyan;
}
/* body */

.hidden {
    display: none;
}

/* Tooltip */
.tooltip {
    visibility: hidden;
    display: none;
}
  
.tooltip.shown {
    visibility: visible;
    opacity: 1;
    display: block
}

emoji-picker {
    --border-radius: 10px
}
/* End Tooltip */

/* box-typing */
.box-typing {
    position: relative;
}
  
.box-typing .inner-dots {
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 45px;
    margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
/* End box-typing */

p[online-status="Online"] {
    color: #05B113;
}

p[online-status="Offline"] {
    color: gray;
}

/* Miscellaneous styles. */

button #rate i {
  cursor: pointer;
  font-style: normal;
  transition: color 200ms, text-shadow 200ms;
}
  
#rate i.active {
  color: #fc0;
}

div[form-comment] span > button {
  border: none;
  background: white;
  color: gray;
  padding: 0px;
  cursor: pointer;
}