.col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark
  .d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-white.min-vh-100
    a.d-flex.align-items-center.pb-3.mb-md-0.me-md-auto.text-white.text-decoration-none(href='/admin/dashboard')
      i.fa.fa-2x.fa-user
      span.fs-5.d-none.d-sm-inline.ms-2 ADMIN
    ul#menu.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start
      li.nav-item
        a.nav-link.align-middle.px-0(href='/admin/dashboard')
          i.fa.fa-lg.fa-compass
          span.ms-2.d-none.d-sm-inline Dashboard
      
      if(role.permissions.includes("books_view"))
        li
          a.nav-link.px-0.align-middle(href='/admin/books')
            i.fa.fa-book
            span.ms-2.d-none.d-sm-inline Manage Books
      
      if(role.permissions.includes("books_category_view"))
        li
          a.nav-link.px-0.align-middle(href='/admin/books-category')
            i.fa.fa-th-large
            span.ms-2.d-none.d-sm-inline Manage Categories
      if(role.permissions.includes("roles_view"))
        li
          a.nav-link.px-0.align-middle(href='/admin/roles')
            i.fa.fa-users
            span.ms-2.d-none.d-sm-inline Nhóm quyền
      if(role.permissions.includes("roles_permissions"))
        li
          a.nav-link.px-0.align-middle(href='/admin/roles/permissions')
            i.fa.fa-share-alt
            span.ms-2.d-none.d-sm-inline Phân quyền
      if(role.permissions.includes("accounts_view"))
        li
          a.nav-link.px-0.align-middle(href='/admin/accounts')
            i.fa.fa-server
            span.ms-2.d-none.d-sm-inline Admin Accounts
      if(role.permissions.includes("users_view"))
        li
          a.nav-link.px-0.align-middle(href='/admin/accounts/users')
            i.fa.fa-male
            span.ms-2.d-none.d-sm-inline User Accounts
      
    hr
    div.dropdown.pb-4(style='position: fixed; bottom: 10px')
      a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
        img.rounded-circle(src=account.avatar width='30' height='30')
        span.d-none.d-sm-inline.mx-1 #{account.fullName}
      ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby='dropdownUser1')
        li
          a.dropdown-item(href=`/admin/settings/general`) Settings
        li
          a.dropdown-item(href='/admin/profile') Profile
        li
          hr.dropdown-divider
        li
          a.dropdown-item(href='/admin/auth/logout') Sign out
            